@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";

    List<Administratix.BLL.ExDel2deZitDate> exDel2deZitDateLijst = new List<Administratix.BLL.ExDel2deZitDate>();
    string action = "none";
    bool result = false;
    if (IsPost)
    {
        action = Request["action"];
        if (Request["search"] != null)
        {
            action = "search";
        }
        switch (action)
        {
            case "search":
                exDel2deZitDateLijst = Administratix.Model.ExDel2deZitDate.ExDel2deZitDateSelectAll(Convert.ToInt32(Request["exDel2deZitDate-CursistNummer"]));
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to MobileCVO!</title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Examens</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="exDel2deZitDate-CursistNummer" id="exDel2deZitDate-CursistNummer" /> <br />
                <br />
                <button type="submit" name="action" value="search">Examenmomenten opvragen</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
        <form id="viewExDel2deZitDateLijst" action="" method="post">
            @{
                if (exDel2deZitDateLijst.Count <= 0)
                {
                    <p>Geen examenmomenten gevonden.</p>
                }
                else
                {
                    <table>
                        <tr>
                            <th>Cursusnummer</th>
                            <th>Module</th>
                            <th>Aanvangsdatum</th>
                            <th>Einddatum</th>
                            <th>Examendatum</th>
                            <th>Deliberatiedatum</th>
                            <th>2de zit</th>
                        </tr>
                        @foreach (Administratix.BLL.ExDel2deZitDate exDel2deZitDate in exDel2deZitDateLijst)
                        {
                            <tr>
                                <td>@exDel2deZitDate.Cursusnummer</td>
                                <td>@exDel2deZitDate.Module</td>
                                <td>@exDel2deZitDate.AanvangsDatum</td>
                                <td>@exDel2deZitDate.EindDatum</td>
                                <td>@exDel2deZitDate.ExamenDatum</td>
                                <td>@exDel2deZitDate.DeliberatieDatum</td>
                                <td>@exDel2deZitDate.DatumTweedeZit</td>
                            </tr>
                        }
                    </table>
                }
            }
        </form>
    </main>
    <footer>
        @message
    </footer>
</body>
</html>

