@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";

    List<Administratix.BLL.LesDavinci> lessenrooster = new List<Administratix.BLL.LesDavinci>();
    string action = "none";
    bool result = false;
    if(IsPost)
    {
        action = Request["action"];
        if (Request["search"] !=null)
        {
            action = "search";
        }
        switch(action)
        {
            case "search":
                lessenrooster = Administratix.Model.LesDavinci.LesroosterTonen(Convert.ToInt32(Request["lessenRooster-CursistNummer"]));
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Lesrooster</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="lessenRooster-CursistNummer" id="lessenRooster-CursistNummer" /> <br />
                <br />
                    <button type="submit" name="action" value="search">Lessenrooster opvragen</button>
                    <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
        <form id="viewLessenrooster" action="" method="post">
            @{
                if(lessenrooster.Count <= 0)
                {
                    <p>Geen lessenrooster gevonden.</p>
                }
                else
                {
                    <table>
                        <tr>
                            <th>Cursusnummer</th>
                            <th>Weekdag</th>
                            <th>Datum</th>
                            <th>Module</th>
                            <th>Docent</th>
                            <th>Lokaal</th>
                            <th>Campus</th>
                            <th>Van</th>
                            <th>Tot</th>
                        </tr>
                    @foreach(Administratix.BLL.LesDavinci les in lessenrooster ){
                        <tr>
                            <td>@les.Cursusnummer</td>
                            <td>@les.Dag</td>
                            <td>@les.Datum</td>
                            <td>@les.Module</td>
                            <td>@les.Docent</td>
                            <td>@les.Lokaal</td>
                            <td>@les.Campus</td>
                            <td>@les.Aanvangsdatum</td>
                            <td>@les.Einddatum</td>
                        </tr>
                    }
                    </table>
                }
            }
        </form>
    </main>
    <footer>
        @message
    </footer>
</body>
</html>
