@{
    /* Coordinating controller */
    string message = "Alles gaat goed.";

    List<Administratix.BLL.TweedezitResultaat> Resultaat = new List<Administratix.BLL.TweedezitResultaat>();
    string action = "none";
    bool result = false;
    if (IsPost)
    {
        action = Request["action"];
        if (Request["search"] != null)
        {
            action = "search";
        }
        switch (action)
        {
            case "search":
                Resultaat = Administratix.Model.TweedezitResultaat.Select2deZitByCursistNummer(Convert.ToInt32(Request["Tweedezit-CursistNummer"]));
                break;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header>
        <div class="control-panel">
            <a href="Default.cshtml">
                <span class="icon-menu2"></span>
                <span class="screen-reader-text">Home</span>
            </a>
        </div>
        <h1>Administratix</h1>
        <h1 id="Soort">Tweedezit</h1>
    </header>
    <main>
        <aside>
            <form id="search" action="" method="post">
                <input type="text" name="Tweedezit-CursistNummer" id="Tweedezit-CursistNummer" /> <br />
                <br />
                <button type="submit" name="action" value="search">Tweedezit opvragen</button>
                <button type="submit" name="action" value="cancel">Annuleren</button>
            </form>
        </aside>
        <!-- View controller -->
        <form id="ViewTweedezit" action="" method="post">
            @{
                if (Resultaat.Count <= 0)
                {
                    <p>Geen lessenrooster gevonden.</p>
                }
                else
                {
                    <table>
                        <tr>
                            <th>Module</th>
                            <th>Lokaal</th>
                            <th>Datum</th>
                            <th>Van</th>
                            <th>Tot</th>
                            <td>Ingeschreven</td>
                            <td>Punten</td>
                        </tr>
                        @foreach (Administratix.BLL.TweedezitResultaat res in Resultaat)
                        {
                            <tr>
                                <td>@res.Module</td>
                                <td>@res.Lokaal</td>
                                <td>@res.Datum</td>
                                <td>@res.Van</td>
                                <td>@res.Tot</td>
                                <td>@res.Ingeschreven</td>
                                <td>@res.Punten</td>
                            </tr>
                        }
                    </table>
                }
            }
        </form>
    </main>
    <footer>
        @message
    </footer>
</body>
</html>

