@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Evenementen";
    
    Session["Page"] = "3";
    
    string action = "";

    Session["loginError"] = "";
    if (IsPost)
    {
        action = Request["action"];
        if (action != null)
        {
        switch (action)
        {
            case "login":
                if (Session["cursist"] == null)
                {
                    try
                    {

                        Session["cursist"] = Administratix.Model.Cursist.Login(Request["Login-CursistNummer"]);
                    }
                    catch (Exception e)
                    {

                        Session["loginError"] = e.Message;
                    }

                }
                break;

            case "logout":
                Session["cursist"] = null;
                break;

        }
        }
    }

    if (Session["cursist"] == null)
    {
        Response.Redirect("~/Deelpagina's/Default.cshtml");
    }
    
    //if (IsPost)
    //{
    //    action = Request["action"];

    //    if (action != null)
    //    {
    //        if (action.Equals("login") && Session["cursist"] == null)
    //        {
    //            Session["cursist"] = Administratix.Model.Cursist.CursistSelectAllByCursistNummer(Convert.ToInt32(Request["Login-CursistNummer"]));
    //        }
    //        if (action.Equals("logout"))
    //        {
    //            Session["cursist"] = null;
    //        }
    //    }
    //}
    

    //Dit is om nederlandse weekdagen te krijgen
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-BE");

    string message = "Alles gaat goed";
    List<Administratix.BLL.Evenement> evenementenLijst = new List<Administratix.BLL.Evenement>();
    List<Administratix.BLL.EvenementInschrijving> evenementInschrijvingLijst = new List<Administratix.BLL.EvenementInschrijving>();
    
    evenementenLijst = Administratix.Model.Evenement.EvenementSelectAll();
    
    if (Session["cursist"] != null)
    {
        Administratix.BLL.Cursist cursist = (Administratix.BLL.Cursist)Session["cursist"];
        
        evenementenLijst = Administratix.Model.Evenement.EvenementSelectAll();

        if (action != null)
        { 
            if (action.Equals("inschrijven"))
            {
                message = Administratix.Model.EvenementInschrijving.EvenementInschrijvingInsert(Convert.ToInt32(cursist.CursistNummer), Request["evenementId-inschrijving"], Request["opmerkingen-inschrijving"]);
            }
            if (action.Equals("evenementInschrijvingLijst-tonen"))
            {
                evenementInschrijvingLijst = Administratix.Model.EvenementInschrijving.evenementInschrijvingSelectAllByCursistNummer(Convert.ToInt32(cursist.CursistNummer));
            }
            
        }
    }   
    
}

        <form id="evenementen-display" action="" method="post">
            <fieldset>
                <legend>Display opties</legend>
                <button type="submit" name="action" value="evenementInschrijvingLijst-tonen">Mijn ingeschreven evenementen</button>
                <button type="submit" name="action" value="alle-evenementen">Alle evenementen</button>
            </fieldset>
        </form>


    @if (action.Equals("evenementInschrijvingLijst-tonen"))
    {
            <div class="containerBig">
                <div class="containerCalendarRow">
                    <div class="containerCalendarTitle">
                        Reservatiedatum
                    </div>
                    <div class="containerCalendarTitle">
                        Naam
                    </div>
                    <div class="containerCalendarTitle">
                        Datum
                    </div>
                    <div class="containerCalendarTitle">
                        Locatie
                    </div>
                    <div class="containerCalendarTitle">
                        Start
                    </div>
                    <div class="containerCalendarTitle">
                        Eind
                    </div>
                    <div class="containerCalendarTitle">
                        Opmerkingen
                    </div>
                </div>
                @for (int i = 0; i < evenementInschrijvingLijst.Count; i++)
                {
                    Administratix.BLL.EvenementInschrijving inschrijving = evenementInschrijvingLijst[i];
                    <div class="containerCalendarRow @(i%2 == 0 ? "":"shaded")">
                        <div class="containerCalendarColumn">
                            @inschrijving.ReservatieDatum.ToString("dd-MM-yyyy", culture)
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.Naam
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.Datum.ToString("dd-MM-yyyy", culture)
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.Locatie
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.StartUur.ToString("HH:mm", culture)
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.EindUur.ToString("HH:mm", culture)
                        </div>
                        <div class="containerCalendarColumn">
                            @inschrijving.Opmerkingen
                        </div>
                    </div>

                }
              </div>
                }
                else
                {
                <div class="containerBig">
                    <div class="containerCalendarRow">
                        <div class="containerCalendarTitle">
                            Naam
                        </div>
                        <div class="containerCalendarTitle">
                            Datum
                        </div>
                        <div class="containerCalendarTitle">
                            Locatie
                        </div>
                        <div class="containerCalendarTitle">
                            Start
                        </div>
                        <div class="containerCalendarTitle">
                            Einde
                        </div>
                        <div class="containerCalendarTitle">

                        </div>
                        @if(Session["cursist"]!=null){
                            <div class="containerCalendarTitle">
                                Opmerkingen
                            </div>
            }
                    </div>

                    @for (int i = 0; i < evenementenLijst.Count; i++)
              {
                    Administratix.BLL.Evenement evenement = evenementenLijst[i];
                        <div class="containerCalendarRow @(i%2 == 0 ? "":"shaded")">

                            <div class="containerCalendarTitle">
                                @evenement.Naam
                            </div>
                            <div class="containerCalendarTitle">
                                @evenement.Datum.ToString("dd-MM-yyyy", culture)
                            </div>
                            <div class="containerCalendarTitle">
                                @evenement.Locatie
                            </div>
                            <div class="containerCalendarTitle">
                                @evenement.Start.ToString("HH:mm", culture)
                            </div>
                            <div class="containerCalendarTitle">
                                @evenement.Eind.ToString("HH:mm", culture)
                            </div>
                            @if (Session["cursist"] != null)
                            {
                                <form id="evenementen-inschrijven" action="" method="post">
                                    <div class="containerCalendarTitle">
                                        <input type="text" name="opmerkingen-inschrijving" id="opmerkingen-inschrijving" />
                                        <input type="hidden" name="evenementId-inschrijving" id="evenementId-inschrijving" value="@evenement.Id" />
                                    </div>
                                    <div class="containerCalendarTitle">
                                        <button type="submit" name="action" value="inschrijven">Schrijf me in!</button>
                                    </div>
                                </form>
                            }
                        </div>
              }
                </div>
                }



@message