@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Trajectoverzicht";

    if (IsPost)
    {
        string action = Request["action"];

        if (action.Equals("login") && Session["cursist"] == null)
        {
            Session["cursist"] = Administratix.Model.Cursist.CursistSelectAllByCursistNummer(Convert.ToInt32(Request["Login-CursistNummer"]));
        }
        if (action.Equals("logout"))
        {
            Session["cursist"] = null;
        }



    }

    List<Administratix.BLL.StatusTraject> Resultaat = new List<Administratix.BLL.StatusTraject>();
    List<Administratix.BLL.Module> trajectModules = new List<Administratix.BLL.Module>();
    List<Administratix.BLL.CursusResultaat> resultaten = new List<Administratix.BLL.CursusResultaat>();
    List<KeyValuePair<int, int>> voorkennisPairs = new List<KeyValuePair<int, int>>();

    if (Session["cursist"] != null)
    {
        Administratix.BLL.Cursist cursist = (Administratix.BLL.Cursist)Session["cursist"];
        // Haal trajectmodules op
        trajectModules = Administratix.Model.TrajectOverzicht.SelectTrajectModulesByCursistNummer(cursist.CursistNummer);
        // Haal cursist resultaten op
        resultaten = Administratix.Model.CursusResultaat.SelectAllCursusResultaat(cursist.CursistNummer);
        // Voeg punten toe een trajectmodules
        trajectModules = Administratix.Model.TrajectOverzicht.CombineerModuleResultatenMetTrajectModules(trajectModules, resultaten);
        // Haal nodige voorkenis op, 140 == Informatica
        voorkennisPairs = Administratix.Model.TrajectOverzicht.SelectVoorkennisIdsByOpleidingsvariantId(140);
        // Voeg nodige voorkennis toe aan trqjectmodules
        Administratix.Model.TrajectOverzicht.ModulesAddVoorkennis(trajectModules, voorkennisPairs);

        //Resultaat = Administratix.Model.StatusTraject.SelectStatusByCursistNummer(Convert.ToInt32(Request["StatusTraject-CursistNummer"]));

    }
    
}

<main>
    <div id="centerContainer">
        <!-- View controller -->
        <div class="containerBig">
            <div class="containerTitle">
                Legende
            </div>
            <div class="legendeItems">
                <div class="legendeItem">
                    <img class="img_StatusCirkelBlauw" /> Ingeschreven, nog geen resultaat.
                </div>
                <div class="legendeItem">
                    <img class="img_StatusCirkelGroen" /> Ingeschreven, geslaagd.
                </div>
                <div class="legendeItem">
                    <img class="img_StatusCirkelRood" /> Ingeschreven, niet geslaagd.
                </div>
                <div class="legendeItem">
                    <img class="img_StatusNoteRood" /> Niet ingeschreven, onvoldoende voorkennis.
                </div>
                <div class="legendeItem">
                    <img class="img_StatusNoteGroen" /> Niet ingeschreven, voldoende voorkennis.
                </div>
            </div>
        </div>

        @if (trajectModules.Count <= 0)
        {
            <p>Je bent nog niet ingeschreven in een traject.</p>
        }
        else
        {
            <div class="containerTraject">
                <div class="itemTraject containerTitle">Naam</div>
                <div class="itemTraject containerTitle">Voorkennis</div>
                @for (int i = 0; i < trajectModules.Count; i++)
                {
                    Administratix.BLL.Module module = trajectModules[i];
                    @*}
                        @foreach (Administratix.BLL.Module module in trajectModules)
                        {*@

                    <div class="itemTraject @(i%2 == 0 ? "":"shaded")">

                        @if (module.CursistIsIngeschreven)
                        {
                            // Cursist is ingeschreven, geef punte status weer
                            if (module.PuntenTotaal > 0)
                            {
                                // Cursist heeft punten
                                if (module.CursistIsGeslaagd)
                                {
                                    <img class="img_StatusCirkelGroen" />
                                }
                                else
                                {
                                    <img class="img_StatusCirkelRood" />
                                }
                            }
                            else
                            {
                                // Cursist heeft nog geen punten
                                <img class="img_StatusCirkelBlauw" />
                            }
                        }
                        else
                        {
                            // Cursist is niet ingeschreven, geen inschrijf status weer
                            if (module.CursistHeeftVoorkennis)
                            {
                                <img class="img_StatusNoteGroen" />
                            }
                            else
                            {
                                <img class="img_StatusNoteRood" />
                            }
                        }
                        @module.Naam
                    </div>

                    <div class="itemTraject @(i%2 == 0 ? "":"shaded")">
                        @foreach (Administratix.BLL.Module voorkennis in module.VoorkennisModules)
                        {
                            <div>
                                @if (voorkennis.CursistIsIngeschreven)
                                {

                                    if (voorkennis.PuntenTotaal > 0)
                                    {
                                        // Cursist heeft punten
                                        if (voorkennis.CursistIsGeslaagd)
                                        {
                                            <img class="img_StatusCirkelGroen" />
                                        }
                                        else
                                        {
                                            <img class="img_StatusCirkelRood" />
                                        }
                                    }
                                    else
                                    {
                                        // Cursist heeft nog geen punten
                                        <img class="img_StatusCirkelBlauw" />

                                    }
                                }
                                else
                                {
                                    // Cursist is niet ingeschreven, geen inschrijf status weer
                                    if (voorkennis.CursistHeeftVoorkennis)
                                    {
                                        <img class="img_StatusNoteGroen" />
                                    }
                                    else
                                    {
                                        <img class="img_StatusNoteRood" />
                                    }
                                }

                                @voorkennis.Naam
                            </div>
                        }
                    </div>



                }
            </div>
        }

        @*<table>
                <tr>
                    <th>Naam</th>
                    <th>Voorkennis</th>
                </tr>
                @foreach (Administratix.BLL.Module module in trajectModules)
                {
                    <tr>
                        <td>
                            @if (module.CrursistIsIngeschreven)
                            {
                                // Cursist is ingeschreven, geef punte status weer
                                if (module.PuntenTotaal > 0)
                                {
                                    // Cursist heeft punten
                                    if (module.CursistIsGeslaagd)
                                    {
                                        <img class="img_StatusCirkelGroen" />
                                    }
                                    else
                                    {
                                        <img class="img_StatusCirkelRood" />
                                    }
                                }
                                else
                                {
                                    // Cursist heeft nog geen punten
                                    <img class="img_StatusCirkelOranje" />
                                }
                            }
                            else
                            {
                                // Cursist is niet ingeschreven, geen inschrijf status weer
                                if (module.CursistHeeftVoorkennis)
                                {
                                    <img class="img_StatusNoteGroen" />
                                }
                                else
                                {
                                    <img class="img_StatusNoteRood" />
                                }
                            }
                            @module.Naam
                        </td>
                        <td>
                            @foreach (Administratix.BLL.Module voorkennis in module.VoorkennisModules)
                            {
                                <div>

                                    @if (voorkennis.CrursistIsIngeschreven)
                                    {

                                        if (voorkennis.PuntenTotaal > 0)
                                        {
                                            // Cursist heeft punten
                                            if (voorkennis.CursistIsGeslaagd)
                                            {
                                                <img class="img_StatusCirkelGroen" />
                                            }
                                            else
                                            {
                                                <img class="img_StatusCirkelRood" />
                                            }
                                        }
                                        else
                                        {
                                            // Cursist heeft nog geen punten
                                            <img class="img_StatusCirkelOranje" />

                                        }
                                    }
                                    else
                                    {
                                        // Cursist is niet ingeschreven, geen inschrijf status weer
                                        if (voorkennis.CursistHeeftVoorkennis)
                                        {
                                            <img class="img_StatusNoteGroen" />
                                        }
                                        else
                                        {
                                            <img class="img_StatusNoteRood" />
                                        }
                                    }

                                    @voorkennis.Naam
                                </div>
                            }

                        </td>
                    </tr>
                }
            </table>*@


    </div>
</main>