@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Evenementen";
    
    //Coordinating controller
    Session["Page"] = "3";
    
    string action = "";

    Session["loginError"] = "";
    //Kijken of de gebruiker is ingelogd
    if (IsPost)
    {
        action = Request["action"];
        if (action != null)
        {
        switch (action)
        {
            //Wanneer de action "login" bevat dan checken of Session Cursist op null staat. Zoja dan koppelen we de 
            //de Session cursist met inputveld van inlogscherm
            case "login":
                if (Session["cursist"] == null)
                {
                    try
                    {

                        Session["cursist"] = Administratix.Model.Cursist.Login(Request["Login-CursistNummer"]);
                    }
                    catch (Exception e)
                    {

                        Session["loginError"] = e.Message;
                    }

                }
                break;
            //Wanneer de action "logout" bevat dan zal de Session Cursist op null gezet worden.
            case "logout":
                Session["cursist"] = null;
                break;

        }
        }
    }
    //Als het sessie object null is dan sturen we de gebruiker naar het inlogscherm
    if (Session["cursist"] == null)
    {
        Response.Redirect("~/Deelpagina's/Default.cshtml");
    }
    

    //Dit is om nederlandse weekdagen/maanden te krijgen
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("nl-BE");

    string message = "Alles gaat goed";
    //een lijst maken van alle evenementen
    List<Administratix.BLL.Evenement> evenementenLijst = new List<Administratix.BLL.Evenement>();
    
    //een lijst maken van de ingeschreven evenementen
    List<Administratix.BLL.EvenementInschrijving> evenementInschrijvingLijst = new List<Administratix.BLL.EvenementInschrijving>();
    
    //lijst met objecten van evenement zal opgevuld worden met methode van model SelectAll
    evenementenLijst = Administratix.Model.Evenement.EvenementSelectAll();
    
    //Als sessie cursist niet leeg is
    if (Session["cursist"] != null)
    {
        Administratix.BLL.Cursist cursist = (Administratix.BLL.Cursist)Session["cursist"];
        
        evenementenLijst = Administratix.Model.Evenement.EvenementSelectAll();

        //Als action niet null is vergelijk dan de actions
        if (action != null)
        {
            if (action.Equals("inschrijven"))
            {
                message = Administratix.Model.EvenementInschrijving.EvenementInschrijvingInsert(Convert.ToInt32(cursist.CursistNummer), Request["evenementId-inschrijving"], Request["opmerkingen-inschrijving"]);
            }
            if (action.Equals("ingeschreven-tonen"))
            {
                evenementInschrijvingLijst = Administratix.Model.EvenementInschrijving.evenementInschrijvingSelectAllByCursistNummer(Convert.ToInt32(cursist.CursistNummer));
            }
            
        }
    }   
    
}

<h1>Evenementen</h1>
<form id="evenementen-display" action="" method="post" class="containerBig containerOptions">
    <div class="containerOption">
        <div class="containerTitle"></div>
        <button type="submit" name="action" class="optionButton" value="ingeschreven-tonen">Ingeschreven</button></a>
        <button type="submit" name="action"  class="optionButton" value="alleEvenementen-tonen">Alle</button></a>
    </div>
</form>

<!--
    View Controller: 
    Deze zal kijken naar de action en afhankelijk van de action een andere view tonen.
-->

    @if (action.Equals("ingeschreven-tonen"))
    {
        for (int i = 0; i < evenementInschrijvingLijst.Count; i++)
        {
            Administratix.BLL.EvenementInschrijving inschrijving = evenementInschrijvingLijst[i];
            <div class="itemBox tableBox" id="@i">
                <a class="itemTitle" href="#@i">
                    <div class="tableTitle1">
                        Datum: @inschrijving.Datum.ToString("dd-MM-yyyy", culture) 
                    </div>
                    <div class="tableTitle2">
                        Tijdstip: @inschrijving.StartUur.ToString("HH:mm", culture) - @inschrijving.EindUur.ToString("HH:mm", culture)
                    </div>
                    <div class="tableTitle3">
                        Naam: @inschrijving.Naam
                    </div>
                </a>
                <div class="itemContent table">
                    <div class="itemContentText table">
                        Reservatiedatum: @inschrijving.ReservatieDatum.ToString("dd-MM-yyyy", culture)
                    </div>
                    <div class="itemContentText table">
                        Locatie: @inschrijving.Locatie
                    </div>
                    <div class="itemContentText table">
                        Opmerkingen: @inschrijving.Opmerkingen
                    </div>

                </div>
            </div>

        }
    }
    else
    {

        for (int i = 0; i < evenementenLijst.Count; i++)
        {
            Administratix.BLL.Evenement evenement = evenementenLijst[i];
                    <div class="itemBox tableBox" id="@i">
                        <a class="itemTitle" href="#@i">
                            <div class="tableTitle1">
                                Datum: @evenement.Datum.ToString("dd-MM-yyyy", culture)
                            </div>
                            <div class="tableTitle2">
                                Tijdstip: @evenement.Start.ToString("HH:mm", culture) - @evenement.Eind.ToString("HH:mm", culture)
                            </div>
                            <div class="tableTitle3">
                                Naam: @evenement.Naam
                            </div>
                        </a>
                        <div class="itemContent table">
                            <div class="itemContentText table">
                                Locatie: @evenement.Locatie
                            </div>
                            @if (Session["cursist"] != null)
                            {
                                <form id="evenementen-inschrijven" action="" method="post">
                                    <div class="itemContentText table">
                                        <input type="text" name="opmerkingen-inschrijving" id="opmerkingen-inschrijving" />
                                        <input type="hidden" name="evenementId-inschrijving" id="evenementId-inschrijving" value="@evenement.Id" />
                                    </div>
                                    <div class="itemContentText table">
                                        <button type="submit" name="action" value="inschrijven">Schrijf me in!</button>
                                    </div>
                                </form>
                            }

                        </div>

                    </div>
        }
    }



@message